#root {  
  margin: 0 auto;
  padding: 15px;
}
.title {
  visibility: none;
}
.button-title {
  position: absolute;
  top: 3%;
}
h2 {
  position: absolute;
  top: 40px;
}
.text-title {
  position: absolute;
  top: 40px;
  left: 100px;
}
.button-text {
  position: absolute;  
  top: 160px;  
}
.economy h3 {
  position:absolute;
  top: 170px;
}
p {
  text-align: left; 
  position: absolute;
  top: 200px;  
}
